.poke {
    background-image: url('images/1.png');
    background-size: 320px;
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: scroll;
    margin: 0;
    padding: 0;
    width: 320px;
    height: 479px;

}


.pokemons {
    width: 16.4rem;
    height: 16rem;
    margin-left: 1.87rem;
    padding-top: 5.26rem;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    width: 16.3rem;
    height: 15.9rem;  
    
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: 1.5rem;
    justify-content: right;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
    font-size: 1.5rem;
    justify-content: left;
    
}

.pokemon .namenumber {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}


.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.3rem;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: 0.25rem 0.75rem;
    margin: 0.25rem 0;
    font-size: 0.750rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 75px;
}

.pokemon .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 0.5rem;
    color: white;
}


.pokemon .stats .statsNames {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .stats .statsBases {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    width: 2rem;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-top: 8rem;
}

.pagination button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 100%;
}


@media screen and (min-width: 380px) {
    
}

@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 992px) {

}